<button (click)="switchLanguage('ar')" class="lang-btn mt-7">
  <i class="fa-solid fa-flag"></i>
  AR
</button>

<button (click)="switchLanguage('en')" class="lang-btn">
  <i class="fa-solid fa-flag-usa"></i>
  EN
</button>

<section class=" mx-auto py-10 lg:py-16">

  <!-- Breadcrumb -->
  <!-- <p class="text-xs sm:text-sm text-gray-400 mb-4">
    Home / Contact
  </p> -->

  <!-- Header -->
  <div class="grid gap-8 lg:grid-cols-2 lg:gap-12 items-start">
    <div>
      <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-semibold leading-tight mb-4">
        {{ 'BUILD_TOGETHER_TITLE' | translate }}
      </h1>
    </div>

    <div class="text-sm sm:text-base text-gray-800 space-y-4">
      <!-- Social Media Icons -->
      <div class="flex mt-5 space-x-3">
        <a href="https://www.facebook.com/share/1DhmXRHnzq/" target="_blank"
          class="text-xl w-9 h-9 bg-gray-300 rounded-lg flex justify-center items-center hover:bg-[#155469] hover:text-white transition-all duration-300 ease-in-out">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://www.instagram.com/alfanuwaliabidae" target="_blank"
          class="text-xl w-9 h-9 bg-gray-300 rounded-lg flex justify-center items-center hover:bg-[#155469] hover:text-white transition-all duration-300 ease-in-out">
          <i class="fa-brands fa-instagram text-2xl"></i>
        </a>


        <a href="https://www.tiktok.com/@user5690715086528?_r=1&_t=ZS-92UvNsKV74i" target="_blank"
          class="text-xl w-9 h-9 bg-gray-300 rounded-lg flex justify-center items-center hover:bg-[#155469] hover:text-white transition-all duration-300 ease-in-out">
          <i class="fa-brands fa-tiktok"></i>
        </a>

        <a href="https://t.me/+971501508885" target="_blank"
          class="text-xl w-9 h-9 bg-gray-300 rounded-lg flex justify-center items-center hover:bg-[#155469] hover:text-white transition-all duration-300 ease-in-out">
          <i class="fa-brands fa-telegram text-2xl"></i>
        </a>

        <a href="https://wa.me/971501508885" target="_blank"
          class="text-xl w-9 h-9 bg-gray-300 rounded-lg flex justify-center items-center hover:bg-[#155469] hover:text-white transition-all duration-300 ease-in-out">
          <i class="fab fa-whatsapp text-2xl"></i>
        </a>

        <a href="mailto:alfanuwaliabidae@gmail.com" target="_blank"
          class="text-xl w-9 h-9 bg-gray-300 rounded-lg flex justify-center items-center hover:bg-[#155469] hover:text-white transition-all duration-300 ease-in-out">
          <i class="fa-solid fa-envelope text-2xl"></i>
        </a>
      </div>
      <p>
        {{ 'CONTACT_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>

  <!-- Info Cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6 mt-10 lg:mt-12">

    <a href="mailto:alfanuwaliabidae@gmail.com" target="_blank"
      class="card border text-center border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-7 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300 mx-auto">
        <i class="fa-solid fa-envelope text-2xl text-[#155469]"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">
        {{ 'EMAIL_US' | translate }}
      </h2>

      <p class="text-[#155469] mt-2">alfanuwaliabidae&#64;gmail.com</p>

    </a>

    <a href="tel:+971501508885"
      class="card border text-center border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-7 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300 mx-auto">
        <i class="fa-solid fa-mobile text-2xl text-[#155469]"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">
        {{ 'CALL_US' | translate }}
      </h2>

      <p class="text-[#155469] mt-2" dir="ltr">+971 50 150 8885
      </p>

    </a>

    <a href="https://maps.app.goo.gl/bgphA7e29LhYLpVHA" target="_blank"
      class="card border text-center border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-7 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300 mx-auto">
        <i class="fa-solid fa-location-dot text-2xl text-[#155469]"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">
        {{ 'LOCATION' | translate }}
      </h2>

      <p class="text-[#155469] mt-2">
        {{ 'COMPANY_LOCATION' | translate }}
      </p>

    </a>

    <a href="https://maps.app.goo.gl/bgphA7e29LhYLpVHA" target="_blank"
      class="card border text-center border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-7 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300 mx-auto">
        <i class="fa-solid fa-clock text-2xl text-[#155469]"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">
        {{ 'WORKING_HOURS' | translate }}
      </h2>

      <p class="text-[#155469] mt-2">
        {{ 'WORKING_TIME' | translate }}
      </p>

    </a>

  </div>

  <!-- Contact Form -->
  <div class="bg-gray-50 rounded-3xl py-5 px-4 sm:p-8 lg:p-10 mt-12 lg:mt-16 grid gap-8 lg:grid-cols-2">
    <!-- Image -->
    <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c"
      class="rounded-2xl object-cover w-full h-60 sm:h-80 lg:h-full" alt="Building" />

    <div class="mx-auto p-6 px-4 bg-white shadow-md rounded-lg w-full">
      <form class="space-y-4">

        <!-- First Name and Last Name -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <label for="firstName" class="block text-sm font-medium text-gray-700">
              {{ 'FIRST_NAME' | translate }}
            </label>
            <input id="firstName" type="text"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="{{ 'FIRST_NAME_PLACEHOLDER' | translate }}" required>
          </div>

          <div>
            <label for="lastName" class="block text-sm font-medium text-gray-700">
              {{ 'LAST_NAME' | translate }}
            </label>
            <input id="lastName" type="text"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="{{ 'LAST_NAME_PLACEHOLDER' | translate }}" required>
          </div>
        </div>

        <!-- Phone and Email -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <label for="phone" class="block text-sm font-medium text-gray-700">
              {{ 'PHONE' | translate }}
            </label>
            <input id="email" type="text"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="{{ 'PHONE_PLACEHOLDER' | translate }}" required>
          </div>

          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              {{ 'EMAIL' | translate }}
            </label>
            <input id="email" type="email"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" required>
          </div>
        </div>

        <!-- Message -->
        <div>
          <label for="message" class="block text-sm font-medium text-gray-700">
            {{ 'MESSAGE' | translate }}
          </label>
          <textarea id="message"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
            rows="4" placeholder="{{ 'MESSAGE_PLACEHOLDER' | translate }}" required></textarea>
        </div>

        <button type="submit"
          class="w-full mt-4 py-2 px-4 bg-[#155469] text-white font-semibold rounded-lg hover:bg-[#155469] focus:outline-none focus:ring-2 focus:ring-[#155469] cursor-pointer">
          {{ 'SEND_MESSAGE' | translate }}
        </button>

      </form>
    </div>


  </div>
</section>
