<section class=" mx-auto px-4 sm:px-6 lg:px-10 py-10 lg:py-16">

  <!-- Breadcrumb -->
  <p class="text-xs sm:text-sm text-gray-400 mb-4">
    Home / Contact
  </p>

  <!-- Header -->
  <div class="grid gap-8 lg:grid-cols-2 lg:gap-12 items-start">
    <div>
      <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-semibold leading-tight mb-4">
        Let’s Build Something <br class="hidden sm:block" />
        Great Together
      </h1>
    </div>

    <div class="text-sm sm:text-base text-gray-500 space-y-4">
      <div class="flex gap-4 text-lg">
        <i class="fa-brands fa-facebook text-2xl"></i>
        <i class="fa-brands fa-linkedin text-2xl"></i>
        <i class="fa-brands fa-instagram text-2xl"></i>
        <i class="fa-brands fa-x-twitter text-2xl"></i>
      </div>

      <p>
        Have a project in mind? Reach out to our team for a free
        consultation, quote, or site assessment. We respond within 2
        business hours.
      </p>
    </div>
  </div>

  <!-- Info Cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6 mt-10 lg:mt-12">

    <div
      class="card border border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-10 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300">
        <i class="fa-regular fa-envelope text-2xl"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">Email Us</h2>

      <p class="text-[#155469] mt-3">info&#64;alfanuwaliabidae.com</p>

    </div>

    <div
      class="card border border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-10 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300">
        <i class="fa-regular fa-envelope text-2xl"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">Call Us</h2>

      <p class="text-[#155469] mt-3">+971 50 150 8885</p>

    </div>
    <div
      class="card border border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-10 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300">
        <i class="fa-regular fa-envelope text-2xl"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">Headquarter</h2>

      <p class="text-[#155469] mt-3">Alhambra 10th Floor, Florida, US</p>

    </div>
    <div
      class="card border border-[#E7E7E8] h-50 rounded-lg p-5 bg-[#F8F9FA] hover:bg-gray-200 transition-shadow duration-300 cursor-pointer">

      <div class="mt-10 w-10 h-10 flex items-center justify-center rounded-md border-red-300 bg-gray-300">
        <i class="fa-regular fa-envelope text-2xl"></i>
      </div>
      <h2 class="font-medium mt-5 text-xl">Working Hours</h2>

      <p class="text-[#155469] mt-3">10:00 am - 6:00 pm</p>

    </div>
  </div>

  <!-- Contact Form -->
  <div class="bg-gray-50 rounded-3xl p-6 sm:p-8 lg:p-10 mt-12 lg:mt-16 grid gap-8 lg:grid-cols-2">
    <!-- Image -->
    <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c"
      class="rounded-2xl object-cover w-full h-60 sm:h-80 lg:h-full" alt="Building" />

    <div class="mx-auto p-6 bg-white shadow-md rounded-lg">
      <form class="space-y-4">
        <!-- First Name and Last Name -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
            <input id="firstName" type="text"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="Enter your first name" required>
          </div>
          <div>
            <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
            <input id="lastName" type="text"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="Enter your last name" required>
          </div>
        </div>

        <!-- Phone and Email -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
            <input id="phone" type="tel"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="Enter Phone Number" required>
          </div>
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input id="email" type="email"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
              placeholder="Enter your Email" required>
          </div>
        </div>

        <!-- Message -->
        <div>
          <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
          <textarea id="message"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#155469] bg-[#F8F9FA]"
            rows="4" placeholder="Write your message" required></textarea>
        </div>


        <button type="submit"
          class="w-full mt-4 py-2 px-4 bg-[#155469] text-white font-semibold rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-[#155469]">
          Send your Message
        </button>
      </form>
    </div>

  </div>
</section>
