<header class="header fixed w-full left-0 right-0 top-0 z-9999999 bg-white shadow pe-2 md:pe-5">
  <div class="flex justify-between items-center">
    <!-- Logo -->

    <div class="flex">
      <div class="image mt-2 cursor-pointer " routerLink="/">
        <img class="w-20 h-12" src="./assets/images/logo.svg" alt="logo">
      </div>
      <!-- Desktop Menu -->
      <ul class=" p-5 rounded-full hidden lg:flex justify-between items-center gap-4">
        @for (section of sections; track $index) {
        <li class="text-[#5D5A88] cursor-pointer relative group hover:text-[#155469]">
          <a [routerLink]="section.url" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active text-[#155469] text-bold" (click)="scrollToTop()"
            class="text-[16px] leading-4 font-medium">
            {{ section.label | translate }}

          </a>

        </li>
        }

      </ul>

    </div>
    <div class="flex gap-8 items-center">
      <!-- Language -->
      <div class="relative" (click)="toggleLanguageDropdown()" tabindex="0">
        <i class="fas fa-language text-gray-500  hover:text-gray-500 cursor-pointer text-sm "></i>

        @if(langOpen){
        <div
          class="absolute right-0 mt-2 w-28 bg-white dark:bg-black border border-gray-200 dark:border-none rounded shadow z-50">
          <button
            class="flex items-center gap-2 w-full px-3 py-2 hover:bg-gray-100 dark:hover:bg-gray-800 text-black dark:text-white text-sm cursor-pointer"
            (click)="switchLang('en')">
            <span class="fi fi-us w-5 h-5"></span> English
          </button>

          <button
            class="flex items-center gap-2 w-full px-3 py-2 hover:bg-gray-100 dark:hover:bg-gray-800 text-black dark:text-white text-sm cursor-pointer"
            (click)="switchLang('ar')">
            <span class="fi fi-sa w-5 h-5"></span> العربية
          </button>
        </div>
        }


      </div>
      <div class="text-[#5D5A88] cursor-pointer relative group hidden lg:block">
        <a routerLink="/contact" (click)="scrollToTop()" class="inline-flex items-center gap-2
             font-medium
               px-5 py-2.5 rounded-full
               bg-[#0B3C4A] text-white border border-white  transition cursor-pointer">
          {{ 'GET_STARTED' | translate }}
          <svg class="w-4 h-4 rtl:rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>


    </div>

    <!-- Bars Icon (Mobile) -->
    <a class="bars text-[30px] font-bold block lg:hidden " (click)="toggleMenu()">
      <i class="fas fa-bars cursor-pointer text-[#155469] me-2"></i>
    </a>
  </div>

  <!-- Mobile Menu -->
  <div
    class="fixed top-0 left-0 h-full w-full bg-[#FFFFFF] shadow-lg z-99999999 transform transition-transform duration-300 ease-in-out lg:hidden"
    [ngClass]="{
      'translate-x-0 left-0': menuOpen,
      '-translate-x-full left-0': !menuOpen
    }">

    <div class="p-4 text-right">
      <i class="fas fa-times text-[24px] cursor-pointer text-red-700" (click)="toggleMenu()"></i>
    </div>

    <ul class="flex flex-col gap-6 p-6">
      @for (section of sections; track $index) {
      <li class="text-[#5D5A88] cursor-pointer">
        <div class="flex justify-between items-center hover:text-[#155469]">
          <a [routerLink]="section.url" routerLinkActive="active text-[#155469] text-bold"
            class="text-[16px] lg:text-[18px] font-bold">
            {{ section.label | translate }}

          </a>
        </div>

      </li>
      }
    </ul>
  </div>
</header>
