@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
::selection {
  background-color: #155469;
  /* red-500 */
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #155469 rgba(0, 0, 0, .05);
}
body{
  font-family: 'cairo', sans-serif;

}
