@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

::selection {
  background-color: #155469;
  /* red-500 */
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #155469 rgba(0, 0, 0, .05);
}
