@import "tailwindcss";
::selection {
  background-color: #155469;
  /* red-500 */
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #155469 rgba(0, 0, 0, .05);
}
body{
  font-family: 'cairo', sans-serif;

}
